#abb-mobile-information {
    background-color: #1b63ed;
    padding: 50px 0;
}

.abb-mobile-information-text {
    display: flex;
    flex-direction: column;
    gap: 46px;
    max-width: 535px;
}

.abb-mobile-information-text h1 {
    font-size: 64px;
    line-height: 72px;
    letter-spacing: .025em;
    font-weight: 500;
    margin-bottom: 16px;
    color: white;
}

.abb-mobile-information-text p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
    color: #FFFFFFB8;
}

.qr-link {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 500;
    padding: 16px 24px;
    background-color: white;
    color: black;
    border-radius: 12px;
}

.qr-link:hover {
    text-decoration: none;
    color: black;
}

.mobile-app {
    padding: 16px;
    background-color:#FFFFFF29;
    color: black;
    border-radius: 12px;
}

.black {
    color: black;
}

.abb-mobile-information-links {
    display: flex;
    gap: 20px;
}

#abb-mobile-section-2{
    background-color: #1b63ed;
}

.bg_blue_section{
    background-color: white ;
    padding: 50px 0;
    border-top-left-radius: 54px;
    border-top-right-radius: 54px;
}

.abb-mobile-possibilities1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.abb-mobile-possibilities1 .card {
    border: none
}

.abb-mobile-possibilities1 .card img {
    object-fit: contain;
    width: 64px;
    height: auto;
    margin: 0 auto;
}

.abb-mobile-possibilities1 .card h5 {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
    font-weight: 500;
    color: black;
    text-align: center;
}

.abb-mobile-possibilities1 .card p {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
        font-weight: 400;
        color: #484a4f;
        text-align: center;
}

.abb-mobile-possibilities2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.abb-mobile-possibilities2 .card {
    border: none
}

.abb-mobile-possibilities2 .card img {
    object-fit: contain;
    width: 64px;
    height: auto;
    margin: 0 auto;
}

.abb-mobile-possibilities2 .card h5 {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
    font-weight: 500;
    color: black;
    text-align: center;
}

.abb-mobile-possibilities2 .card p {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
        font-weight: 400;
        color: #484a4f;
        text-align: center;
}

#abb-mobile-section-3{
    background-color: white;
}

.bg_light_section{
    background-color: #f0f0f0 ;
    padding: 50px 0;
    border-top-left-radius: 54px;
    border-top-right-radius: 54px;
}

.abb-mobile-cashback {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;

}

.abb-mobile-cashback .card {
    border: none;
    border-radius: 24px;
}

.abb-mobile-cashback .card img {
    object-fit: contain;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.abb-mobile-cashback .card h5 {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
    font-weight: 500;
    color: black;
    text-align: center;
}

.abb-mobile-cashback .card p {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
        font-weight: 400;
        color: #484a4f;
        text-align: center;
        margin-bottom: 20px;
}

#abb-mobile-section-4 {
    background-color: white;
}

.abb-mobile-section-4-text-center-h3 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 500;
    color: #7a7d82;
    text-align: center;
    margin-top: 50px;
}

.abb-mobile-section-4-text-center-p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
    color: black;
    text-align: center;
    margin: 20px 0;
}

.abb-mobile-application {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}


.application {
    padding: 12px 16px;
    background-color: #0A0B0D0A;
    border-radius: 24px;
    display: flex;
    gap: 10px;
}

.application-star {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 500;
    padding: 3px 9px;
    border-radius: 24px;
    background-color: white;
    margin-bottom: 5px;
}
.application-type {
    padding: 3px 0 ;
}

.abb-mobile-application-img {
    display: flex;
    gap: 20px;
}

.abb-mobile-application-img img {
    object-fit: cover;
    max-width: 268.4px;
    height: auto;   
}

.abb-mobile-application-url {
    padding: 16px;
    border-radius: 24px;
    display: flex;
    gap: 32px;
    background-color: #f0f0f0;
    width: 52%;
    margin: 50px auto;
}

.abb-mobile-application-url p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 500;
    color: black;
}

.abb-mobile-application-url a {
    padding: 12px 20px;
    background-color: #1b63ed;
    border-radius: 12px;
    color: white;
    width: 26%;
    height: 20%;
    margin-top: 15px;
}

.abb-mobile-application-url img {
    max-width: 82px;
    max-height: 62px;
}

#abb-mobile-section-5{
    background-color: white;
}

.bg_black_section{
    background-color: black ;
    padding: 50px 0;
    border: 1px solid white;
    border-top-left-radius: 54px;
    border-top-right-radius: 54px;
}

.abb-mobile-section-5-p span {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 400;
    color: white;
    padding: 12px 16px;
    background-color: #484a4f;
    border-radius: 24px;
}

.abb-mobile-svg {
    padding: 16px;
    border-radius: 16px;
    background-color: #484a4f;
    display: inline-block;
    width: 24%;
    margin-top: 20px;
    margin-left: 20px;
}

.abb-mobile-section-5-p {
    text-align: center;
    margin: 30px 0;
}

.abb-mobile-section-5-h1 {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: .025em;
    font-weight: 500;
    color: white;
    text-align: center;
}

.abb-mobile-section-5-cards {
    margin: 50px 0;
}

.abb-mobile-section-5-cards .card {
    background-color: black;
    border: 1px solid #484a4f;
    border-radius: 24px;    
}


.abb-mobile-section-5-cards .card svg {
    color: white;
    width: 24px;
    height: 24px;
    
}


.abb-mobile-section-5-cards h4 {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
}

.abb-mobile-section-5-cards p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 400;
    color: #FFFFFFB8;
    margin-bottom: 20px;
}

.abb-mobile-section-5-h4 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 400;
    color: #FFFFFFB8;
    text-align: center;
    margin-bottom: 50px;
}

#abb-mobile-section-6 {
    background-color: white;
}

.abb-mobile-section-6-h1 {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: .025em;
    font-weight: 500;
    text-align: center;
    margin: 30px 0;

}

.abb-mobile-section-6-p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center;
    color: #484a4f;
    margin-bottom: 30px;
}

.abb-m-cards-type {
    padding: 24px;
    background-color: #1b63ed;
    border-radius: 99999px;
    display: flex;
    gap: 25px;
    align-items: center;
}

.abb-m-cards-type:hover {
    background-color: #1958ce;
}


.abb-m-cards-svg svg {
    color: #1b63ed;
}

.abb-m-cards-svg {
    padding: 16px;
    background-color: white;
    border-radius: 24px;
}

.abb-m-cards-text p {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
    font-weight: 500;
    color: white;
}

.abb-mobile-section-6-cards {
    margin-bottom: 50px;
}