*{
    font-family: "Inter", sans-serif;
}
.all-loan-section1{
   background-color:rgb(240 240 240);
   padding-bottom: 60px;
}
.individual-all-loans{
   display: block;
   padding-bottom: 40px;
   margin-top: 20px;
   font-size: 14px;
}
.individual{
    color: #7A7D82;
}
.individual:hover{
    color: #7A7D82 ;
}
.loans-all{
    color: black;
}
.all-loans-head-parg1{
    font-family: "Inter", sans-serif;
    font-size: 60px;
    line-height: 1.2;
   font-weight: 500;
}
.all-loans-head-parg2{
   font-family: "Inter", sans-serif;
   font-size: 20px;
   margin-top: 15px;
   line-height: 1.3;
}
.all-loans-head-button{
  
    margin-top: 30px;
    background-color:var( --main-blue);
    color: var( --context-white-color);
    border-radius:13px ;
    border: 1px solid black;
    display: block;
    width: 160px;
    height: 55px;
    border: none;
   text-align: center;
   padding-top: 20px;
  
}
.all-loans-limit-box{
    background-color: white
}
.all-loans-head-button:hover{
color: white;
background-color: #004B98;
}
.all-loans-head-table{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid;
    height: 100px;
    gap: 20px;
    line-height: 1.6;
    background-color: white;
    border: none;
    border-radius: 20px;
}
.all-loans-table-head{
    color:#7A7D82;
    font-size: 15px;
}
.all-loans-table-body{
    font-weight: 500;
    font-size: 20px;
}
.all-loans-head-img{
    width: 630px;
    height: 360px;
}
.all-loans-loan-limit{
  padding-top: 50px;
    margin-bottom: 60px;
    background-color:white; 
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;

}
.all-loans-limit-box-section{
    background-color:rgb(240 240 240); ;
}
.all-loans-limit-box{
    background-color: #0072CE;
}
.all-loans-section-limit{
    font-size: 45px;
   
}
.all-loans-section-limit2{
    font-size:45px;
  background-image: linear-gradient(to right,#004B98, #0072CE, #2DA9FF);
  color: transparent;
  background-clip: text;
  line-height: 1.5;
}
.all-loans-loan-limit-text{
    color:rgb(72 74 79) ;
    font-size:20px ;

}
.all-loans-loan-limit-form{
    border: 1px solid rgba(72, 74,79,0.1 ) ;
    width:350px;
    height: 50px;
    border-radius: 10px;
    margin-left: 10px; 
    padding: 10px;
   
}
.all-loans-loan-limit-check{
    font-size: 13px;
    margin-top:50px;
    color:  #7A7D82 ;
    margin-left: 10px;
    
}
#check{
transform: scale(1.5);

}
.all-loans-loan-limit-button{
    border: 1px solid;
    padding: 20px 15px;
     margin-left: 80px; 
     background-color: rgb(240 240 240);
     color: #7a7d82;
     border-radius: 10px;
     width: 120px;
     border: none;

}
.all-loans-section-limit-fin-phone{
    display: flex;
}
.all-loans-section-limit-fin{
    position: relative;
}
.all-loans-section-limit-icon-info{
    color: #7a7d82;
    position: absolute;
   top: 40%;
   right: 5%;
}
.all-loans-loan-limit-checked:checked ~ .all-loans-loan-limit-button{
    background-color:var(--main-blue);
    color: white;
}
.all-loans-loan-limit-akb{
    text-decoration: underline;
}
.all-loan-section2{
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
    background:radial-gradient(45.81% 111.02% at 57.47% 14.48%, #383C46 0, #24282F 100%);
}
.all-loan-section2-parg1{
    color: white;
    padding-top: 80px;
    text-align: center;
    font-size: 50px;
    padding-bottom:40px ;
}

.all-loan-section2{
background-color:rgba(0, 0, 0, 0.9)

}

.all-loan-section2-cards{
    display: flex;
    gap: 30px;
    color: #7a7d82;
    margin-top: 60px;
}
.all-loan-section2-card-title{
    font-family:"Inter",sans-serif ;
    font-size: 30px;
    color: white;
    margin-top: 25px;
    margin-bottom: 20px;

}
.all-loan-section2-card-body{
   background-color: #0A0B0D29;
    border-radius: 30px ;
  
}
.all-loan-section2-card-text{
    color:#FFFFFFB8;
    line-height: 1.5;
}
.all-loans-section2-card-img2{
height: 350px;
}
.all-loans-section2-card-img4{
    height: 30px;
}
.all-loans-section2-card-img4{
    height: 330px;
}
.all-loans-section2-card-img5{
    height: 330px;
}
.all-loan-section2-card-body-head{
 max-width: 1150px;
 margin-left: 70px;
  background-color: transparent; 
 border:none;
 


 
}
.all-loan-card-container{

}
.all-loan-card-item{
    color: white;
    font-size: 20px;
    margin-top: 15px; 
}
.all-loan-card-item2{
    font-size: var( --font-size-thin);
  
}
.all-loan-card-button{
    border: 1px solid black;
    background-color: white;
    width: 100px;
    height: 45px;
    margin-top: 20px;
    text-align: center;
    padding-top: 15px;
    border-radius: 15px;
   margin-bottom: 30px;

}
.all-loan-card-button-order{
   border: 1px solid black;
   width: 120px;
   height: 45px;
   background-color: var(--main-blue);
   border-radius:15px ;
   margin-top: 20px;
   
  
}
.all-loan-card-buttons{
    display: flex;
    gap: 15px;
}
.all-loan-card-button-link{
    color:black;
}
.all-loan-card-button-link:hover{
    color:black;
}

.all-loan-card-button-link-order{
    display: block;
    color: white;
  text-align: center;
   padding-top: 10px;
   height: 100%;
   border-radius:15px ;
  
}

.all-loan-card-button-link-order:hover{
  color: white;
  background-color: #004B98;
}





.all-loan-section3{
background-color: #1B63ED;
border-top-left-radius: 60px;
border-top-right-radius: 60px;
height: 500px;

}
.all-loan-section3-parg1{
    font-size:60px ;
    color: white;
    padding-top: 70px;
}
.all-loan-section3-parg2{
    color: white;
    padding-top: 20px;
    line-height: 1.5;
    font-size: 20px;


}
.all-loan-qr{
    display: block;
    width: 160px;
    margin-top: 40px;
    border: 1px solid white;
    padding: 12px;
    background-color: white;
    border-radius: 15px;
}
.all-loan-section3-scan-text{
    color: #FFFFFFB8;
    margin-top: 80px;
    margin-left: 10px;
    font-size: 16px;
}
 .all-loan-section3-icon{
   margin-top: 20px;
   margin-left: 10px;
   color: white;
   font-size: 30px;

 }
 .all-loan-section3-phone-img{
    position: relative;
 }
.all-loan-phone-img{
    width: 540px;
  display: block;
  position: absolute;
  bottom: -17%;
 

}


.all-loans-scan{
    display: flex;
    gap: 20px;
}
.all-loans-rating{
    display: flex;
    background-color:rgb(240 240 240); ;
    /* justify-content: space-around; */
}
.all-loans-rating-parg1{
    font-size: 40px;
    margin-top: 40px;
    margin-left: 30px;
    
}
.all-loans-rating-parg1-item{
  background-image: linear-gradient(to right,#004B98, #0072CE, #2DA9FF);
  color: transparent;
  background-clip: text;
}
.all-loans-rating-parg2{
    color: #7A7D82;
    margin-top: 20px;
    margin-left: 30px;
    padding-bottom: 40px;
    
}
.all-loan-rating-stars{
    border: 1px solid black;
    width: 250px;
    height:70px ;
   display: flex;
   justify-content: center;
   flex-direction: row-reverse;
   align-items: center;
   gap: 12px;
   font-size: 24px;
   border-radius: 16px;
   margin-top: 40px;
   color:rgb(240 240 240);
   background-color: white;
   border: none;
}
.all-loan-rating-stars i:hover,
.all-loan-rating-stars i:hover ~ i{
    color: #0072CE;
}
