#information {
    background-color: #f0f0f0;
    padding: 50px 0;
}

.information-text {
    display: flex;
    flex-direction: column;
    gap: 46px;
    max-width: 474px;
}

.information-text h3 {
    display: flex;
    gap: 8px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 500;
    color: var(--grey-font-color);
}

.information-text h1 {
    font-size: 64px;
    line-height: 72px;
    letter-spacing: .025em;
    font-weight: 500;
    margin-bottom: 16px;
}

.information-text p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
    color: #484a4f;
}

.black {
    color: black;
}

.information-img {
    display: flex;
    flex-direction: column;
    position: relative;
}

.txt {
    display: flex;
    border: 1px solid #f0f0f0;
    padding: 20px 40px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    bottom: 0%;
        right: 0;
    justify-content: space-between;
    width: 100%;
}


.txt .header_text_box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.img img {
    max-height: 356px;
    margin-bottom: 85px;
    width: 100%;
    object-fit: contain;
}

.txt h4{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 400;
    color: var(--grey-font-color);
}

.txt p {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
    font-weight: 500;
    color: black;
}

#deposit-type{
    background-color: #f0f0f0;
}

.bg_dark_section{
    background-color: #2b2d35 ;
    padding: 50px 0;
    border: 1px solid #2b2d35;
    border-top-left-radius: 54px;
    border-top-right-radius: 54px;

}
.name {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: .025em;
    font-weight: 500;
    color: white;
    margin-bottom: 48px;
}

.deposit-type1 .card {
    background-color: #2b2d35;
    border: 1px solid #2b2d35;
}

.rowq_no-gutters {
    display: flex;
    background-color: #24282f;
    border: 1px solid #24282f;
    border-radius: 24px;
}

.rowq_no-gutters .card-body {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.rowq_no-gutters .card-body h5{
    font-size: 32px;
    line-height: 40px;
    letter-spacing: .025em;
    font-weight: 500;
    color: white;
}

.rowq_no-gutters .card-body .card-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 400;
    color: #FFFFFFB8;
}

.txt1{
    display: flex;
    gap: 20px;
    padding: 20px 0;  
    }

.txt1 div {
    display: flex;
    gap: 8px;
    flex-direction: column;
}
    

.txt1 h4{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 400;
    color: var(--grey-font-color);
}

.txt1 p {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
    font-weight: 500;
    color: white
}

.buttons {
    display: flex;
    gap: 8px;
}

.blue {
    padding: 12px 20px;
    background-color: #1b63ed;
    border: 1px solid #1b63ed;
    border-radius: 12px;
    color: white;
}

.blue:hover {
    background-color: #144cb4;
    color: white;
    text-decoration: none;
    border: 1px solid #144cb4;
}

.gray {
    padding: 12px 20px;
    background-color: white;
    border: 1px solid white;
    border-radius: 12px;
    color: black;
}

.gray:hover {
    text-decoration: none;
    color: black;
}

.deposit-type1 .card{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.count-logo {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: .025em;
    font-weight: 500;
    text-align: center;
    padding-bottom: 30px;
}

#count {
    background-color: #2b2d35;
    
}

.bg_light_section {
    background-color: white ;
    padding: 50px 0;
    border: 1px solid white;
    border-top-left-radius: 54px;
    border-top-right-radius: 54px;
    border-bottom: 1px solid #e2e1e1;
}

.range {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 40px;
}

.variants {
    display: flex;
    justify-content: space-between;
}

.year {
    display: flex;
    padding: 8px;
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    border-radius: 12px;
}

.year button {
    padding: 8px 12px;
    color: #7a7d82;
    background-color:#f0f0f0 ;
}

.year button:focus {
    background-color: white;
    text-decoration: none;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    color: black;
    font-weight: 500;
}

.currents {
    display: flex;
    padding: 8px;
    background-color: #f0f0f0;
    border: 1 px solid #f0f0f0;
    border-radius: 12px;
}

.currents button {
    padding: 8px 12px;
    color: #7a7d82;
    background-color:#f0f0f0 ;
}

.currents button:focus {
    background-color: white;
    text-decoration: none;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    color: black;
    font-weight: 500;
}

.money {
    display: flex;
    justify-content: space-between;
}

.money p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 400;
    color: #7a7d82;
}

.money h5 {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
    font-weight: 500;
    color: black;
}

.price {
    display: flex;
    justify-content: space-between;
}

.price p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 400;
    color: #7a7d82;
}

.timeless h5 {
    display: block;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 400;
    color: #7a7d82;
}

.timeless ul {
    display: flex;
    gap: 5px;
    padding-bottom: 30px;
}

.timeless li button {
    padding: 12px 14px;
    background: #f0f0f0;
    border: 1px solid #f0f0f0;
    border-radius: 50%;
    font-size: 12px;
}

.timeless li button:hover {
    background-color: #eeecec;
}

.timeless li button:focus {
    border: 1px solid black;
    background-color: white;
}












#deposit-insurance {
    padding: 50px 0;
}

.left-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-text h1 {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: .025em;
    font-weight: 500;
    color: black;
    text-align: left;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.left-text p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 400;
    color: black;
}

.left-button a {
    padding: 12px 20px;
    background-color: #1b63ed;
    border: 1px solid #1b63ed;
    border-radius: 12px;
    color: white;
}

.left-button a:hover {
    background-color: #144cb4;
    color: white;
    text-decoration: none;
    border: 1px solid #144cb4;
}

.right img {
    max-height: 356px;
    margin-bottom: 85px;
    width: 100%;
    object-fit: contain;
}

.total-price h4 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 400;
    color: white;
    text-align: center;
}

.total-price h5 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 400;
    color: #FFFFFFB8;
}

.total-price h2 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: .025em;
    font-weight: 500;
    color: white;
    text-align: center;
}

.total-price p {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0;
    font-weight: 500;
    color: white;
}

.total-price {
    padding: 32px;
    background-color: #1b63ed;
    border: 1px solid #1b63ed;
    border-radius: 24px;
    width: 376px;
}

.ferid {
    display: flex;
    justify-content: space-around;;
}

.month_list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}

.month_list li input{
    display: none;
}

.month_list li label{
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #eeecec;
    border: 1px solid #eeecec;
    cursor: pointer;
}

.month_list li input:checked ~ label{
    border-color: #000000;
}

@media(max-width: 1200px){
    .txt{
        flex-wrap: wrap;
    }
    .header_text_box{
        width: calc(50% - 20px);
        margin-bottom: 12px;
    }
}
@media(max-width: 991px){
    
}
@media(max-width: 767px){
    
}
@media(max-width: 575px){
    
}
@media(max-width: 480px){
    .information-text h1{
        font-size: 48px;
        line-height: 52px;
    }

    #deposit-type h1{
        font-size: 48px;
        line-height: 52px;
    }

    .count-logo {
        font-size: 48px;
        line-height: 52px;
    }

    .left-text h1 {
        font-size: 48px;
        line-height: 52px;
    }
    .header_text_box{
        width: 100%;
    }
    .txt{
        position: relative;
    }
    .img img{
        margin-bottom: 24px;
    }
}
@media(max-width: 375px){
    
}
