
*{
    font-family: "Inter",sans-serif;
}

.corporate-pres-section1-head-text{
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    padding-top: 60px;
}
.corporate-pres-box{
   width: 350px;
   height: 180px;
   
}
