*{
    font-family: "Inter",sans-serif;
}

.corporate-report-tabs{
    height: 500px;
}
.corporate-report-tabs-box{
    height: 500px;
}
.corporate-report-section2-box{
    padding-top: 40px;
}
.docs-resources-navtabs-item{
   
    
}
.doc-resource-section1{
   
}
.docs-resources-tabs-box{
    padding-bottom: 60px;
}