.credit-line-for-dep-table table th, td {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 500;
    color: #374151;
    padding: 12px 24px;
    border: 1px solid #f0f0f0;
}

.credit-line-for-dep-table table {
    width: 70%;
    outline: 5px solid #f0f0f0;
    border-radius: 16px;
    margin: 50px 0;
}