.dama-dama-btn {
   width: 250px;
}

/* !DIGIDEPOSIT PAGE CSS CODES*********************************************** */
.create-digi-btn {
   width: 200px;
   margin-bottom: 20px;
}

/* !CURRENT ACCOUNT--CSS******************************************************* */
.flags-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.flags-deatils-box{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.flags-deatils-box div img{
   width: 50px;
   height: 50px;
}
.header-h3-center{
   text-align: center;
   font-size: ;
}
.flags-container{
   border-radius: 20px;
   padding: 20px;
   background-color: var(--context-white-color);
}