
*{
    font-family: "Inter", sans-serif;

}
.doc-resource-section1{
    background-color:rgb(240 240 240);
   padding-bottom: 60px;
}
.about-doc-resource{
    display: block;
   padding-bottom: 40px;
   margin-top: 20px;
   font-size: 14px
}
.doc-resource-about{
     color: #7A7D82;
}
.doc-resource-about:hover{
    color: #7A7D82;
}
.resource-docs{
    color: black;
}
.docs-resources-head-parg1{
    font-size: 40px;
    line-height: 1.2;
   font-weight: 500;
}
.docs-resources-head-parg2{
    font-size: 20px;
   margin-top: 15px;
   line-height: 1.3;
   color: rgb(72 74 79);
}
.docs-resources-head-img{
width: 590px;
    height: 350px;
    margin-top: 40px;
}
.docs-resources-section2{
    padding-top: 80px;
    padding-bottom: 80px;
}

.docs-resources-tabs{
    border: 1px solid black;
    width: 280px;
    height: 700px;
    display: block;
overflow: auto;
background-color:rgb(240 240 240); 
border: none;
border-radius: 20px;
}

.docs-resources-navtabs-item{
    color: black;
    line-height: 25px;
    text-align: left;
    padding-top: 20px;
    
    
}
.docs-resources-navtabs-item:hover{
    color: black;
background-color: #e6e8eb;
}
.updated-date{
    font-size: 10px !important;
    color:#484A4F !important;
}
.docs-resources-tabs-right-side{
    /* border:1px solid black;
    padding-top: 20px;
 height: 150px;
    border-radius: 30px;
    margin-top: 20px;
    display: inline-block;
    width: 200px; */
    border: 1px solid black;
    padding: 20px;
    min-height: 150px;
    border-radius: 30px;
    display: block;
    width: 200px;
    border: none;
    margin-bottom: 20px;
    margin-top: 20px;
}
.docs-resources-tabs-download{
 display: none;
}
.download-icon-navtabs{
    display: flex;
    justify-content: flex-end;
    
}
.docs-resources-tabs-right-side:hover .docs-resources-tabs-download{
  display: block;
}
.docs-resources-tabs-pl-tables2:hover .docs-resources-tabs-download{
    display: block;
}
.docs-resources-tabs-pl-tables:hover .docs-resources-tabs-download{
    display: block;
}

.docs-resources-tabs-box{
    width: 100%;
}
.docs-resources-content{
    width: 50%;
    margin-left: 30px;
    
}
.docs-resources-content1{
    font-size: 32px;
    margin-bottom: 40px;
}
.docs-resources-tabs-right-side2{
    margin-top: 20px;
  
}
.docs-resources-tabs-right-side{
    height: 200px;
    background-color: rgb(240 240 240);
}
.docs-resources-tabs-icon{

}
.docs-resources-tabs-text1{
    color: black;
    font-size: 16px;
    font-weight: 500px;
    margin-top: 20px;
    line-height: 24px;
}
.docs-resources-tabs-pdf{
    color: rgb(72 74 79);
    font-size: 14px;
    margin-top: 75px;
}
.docs-resources-tabs-pdf2{
    margin-top: 50px;
     color: rgb(72 74 79);
    font-size: 14px;
    
}
.docs-resources-content2{
    font-size: 32px;
     margin-bottom: 40px;
}
.docs-resources-content-header{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}
.docs-resources-content-text{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}
.docs-resources-tabs-pl-parg{
    font-size: 32px;
    font-weight: 500;
    margin-bottom:  40px;
}
.docs-resources-tabs-pl-text{
    font-size: 16px;
    line-height: 24px;
}
.docs-resources-tabs-pl-text2{
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
}
.docs-resources-tabs-pl-text3{
     font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
}

.docs-resources-tabs-pl-tables{
     border: 1px solid black;
    padding: 20px;
    min-height: 400px;
    border-radius: 30px;
    display: block;
    width: 200px;
    background-color: rgb(240 240 240);
    border: none;

}
.docs-resources-tabs-pl-tables2{
     border: 1px solid black;
    padding: 20px;
    min-height: 200px;
    border-radius: 30px;
    display: block;
    width: 200px;
    background-color: rgb(240 240 240);
    border: none;
    margin-top: 20px;
}
.docs-resources-tabs-pl-item{
    color: black;
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
}
.docs-resources-content-text-parg{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;

}
.docs-resources-content-span{
    font-size: 16px;
    font-weight: bold;

}
.docs-resources-content-link{
    color: black;
    font-weight: 500;
    text-decoration: underline;
}
.docs-resources-content-link:hover{
    color: black;
}
.docs-resources-tabs-pdf-fatca{
    margin-top: 70px;
     color: rgb(72 74 79);
    font-size: 14px;
}
.docs-resources-tabs-pdf-fatca2{
    margin-top: 50px;
     color: rgb(72 74 79);
    font-size: 14px;
}



.docs-resources-tabs-pdf-standart{
    margin-top: 25px;
     color: rgb(72 74 79);
    font-size: 14px;
}
.docs-resources-tabs-right-side-box{
    border: 1px solid black;
    padding: 20px;
    border-radius: 30px;
    display: block;
    width: 200px;
    border: none;
     height: 220px;
    background-color: rgb(240 240 240);
    margin-bottom: 20px;
}
.docs-resources-tabs-right-side-box:hover .docs-resources-tabs-download{
    display: block;
}
.docs-resources-tabs-right-side-box2{
    border: 1px solid black;
    padding: 20px;
    min-height: 250px;
    border-radius: 30px;
    display: block;
    width: 200px;
    border: none;
     height: 200px;
    background-color: rgb(240 240 240);
}
.docs-resources-tabs-right-side-box2:hover .docs-resources-tabs-download{
    display: block;
}
.resources-tabs-text1{
    line-height: 24px;
}
.docs-resources-tabs-pdf-related{
    padding-top: 40px;
    font-size: 14px;
    color:rgb(72 74 79) ;
}
.download-icon-navtabs-related{
    display: flex;
    justify-content: flex-end;
}
.docs-resources-tabs-download-related{
     display: none;

}
.docs-resources-tabs-right-side-box:hover .docs-resources-tabs-download-related{
  display: block;
}
.docs-resources-tabs-pdf-related2{
    padding-top: 65px;
     font-size: 14px;
    color:rgb(72 74 79) ;
}
.docs-resources-tabs-pdf-related3{
    padding-top: 25px;
     font-size: 14px;
    color:rgb(72 74 79) ;
}
.docs-resources-content2-text2{
    color: rgb(122 125 130);
    font-size: 16px;
    margin-bottom: 30px;
}
.docs-resources-tabs-right-side-box3{
    border: 1px solid black;
    padding: 20px;
    min-height: 250px;
    border-radius: 30px;
    display: block;
    width: 200px;
    border: none;
     height: 280px;
    background-color: rgb(240 240 240);
    margin-top: 20px;
}
.docs-resources-tabs-right-side-box3:hover .docs-resources-tabs-download{
    display: block;
}
.docs-resources-navtabs-pdf{
     color: rgb(72 74 79);
    font-size: 14px;
    padding-top:30px ;
}
.docs-resources-tabs-pdf-docx{
    padding-top: 20px;
    color: rgb(72 74 79);
    font-size: 14px;
}
.docs-resources-tabs-pdf-docx2{
    padding-top: 45px;
    color: rgb(72 74 79);
    font-size: 14px;
}
.docs-resources-tabs-money{
    margin-top: 22px;
}
.pl-box-pdf2{
     color: rgb(72 74 79);
    font-size: 14px;
    padding-top: 100px;
}
.pl-box-pdf3{
    color: rgb(72 74 79);
    font-size: 14px;
    padding-top: 10px;
}