#right-option {
    padding-top: 50px;
}

#right-option h2 {
    padding: 30px 0;
    text-align: center;
    font-size: var(--font-size-md);
    line-height: 56px;
}

.right-option-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding: 30px;
}

.right-option-transfer-box {
    background-color: var(--section-bg-light-pink);
}

.text-and-transfer-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-option-img img {
    width: 390px;
    height: 320px;
}

.bg-grey-color-and-bradius {
    border-radius: 30px;
    background-color: var(--section-bg-light-pink);
}

.text-and-transfer-btn h3 {
    font-size: var(--font-size-large);
    line-height: 40px;
}

.text-and-transfer-btn div a {
    font-size: 12px;
    color: var(--context-white-color);
}

.text-and-transfer-btn div {
    border-radius: 10px;
    padding: 8px;
    text-align: center;
    background-color: var(--main-blue);
}

.grey-txt-transfer {
    /* padding: 10px 0; */
    color: var(--text-color-grey-p);
}

.right-option-deatils-flex {
    display: flex;
    align-items: center;
    gap: 50px;
}

.right-option-txt-box :nth-child(1) {
    /* padding: 5px 0; */
    color: var(--links-grey-text-color);
    line-height: 20px;
    font-size: var(--font-size-thin);
}

.right-option-txt-box :nth-child(2) {
    padding: 5px 0;
    color: var(--font-size-for-news);
    line-height: 28px;
    font-weight: 600;
}

div .btn-more-find {
    width: 200px;
}

.upt-icon-pic a img {
    width: 15px;
    height: 15px;
}

.upt-icon-pic {
    background-color: rgb(224, 103, 28);
}