@font-face {
    font-family:"Inter",sans-serif;
    src: url("../fonts/Inter_24pt-Thin.ttf");
    font-weight: 100;
}
@font-face {
    font-family: "Inter",sans-serif;
    src: url("../fonts/Inter_24pt-ExtraLight.ttf");
    font-weight: 200;
}
@font-face {
    font-family: "Inter",sans-serif;
    src: url("../fonts/Inter_24pt-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Inter",sans-serif;
    src: url("../fonts/Inter_24pt-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family:"Inter",sans-serif;
    src: url("../fonts/Inter_24pt-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Inter",sans-serif;
    src: url("../fonts/Inter_24pt-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Inter",sans-serif;
    src: url("../fonts/Inter_24pt-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Inter",sans-serif;
    src: url("../fonts/Inter_24pt-ExtraBold.ttf");
    font-weight: 800;
}
@font-face {
    font-family: "Inter",sans-serif;
    src: url("../fonts/Inter_24pt-Black.ttf");
    font-weight: 900;
}