@import url("./main-1.css");
@import url("./font.css");
@import url("./reset.css");
@import url("./variables.css");
@import url("./all-deposits.css");
@import url("./cashback.css");
@import url("./useful-links.css");
@import url("./useful-cashback.css");
@import url("./all-loans.css");
@import url("./ipoteka.css");
@import url("./responsive-1.css");
@import url("./responsive-2.css");
@import url("./responsive-3.css");
@import url("./all-operations.css");
@import url("./online-service-appointment.css");
@import url("./cards.css");
@import url("./campaign.css");
@import url("./management.css");
@import url("./suggestions.css");
@import url("./abb-mobile.css");
@import url("./corporate.css");
@import url("./small-medium-business.css");
@import url("./micro-business.css");
@import url("./doc-resource.css");
@import url("./corporate-pres.css");
@import url("./about-the-abb.css");
@import url("./management.css");
@import url("./investor-relations.css");
@import url("./cash-loan-l.css");
@import url("./management-commite.css");
@import url("./explore.css");
@import url("./corporate-report.css");
@import url("./purchase.css");
@import url("./investment.css");
@import url("./investor-relations.css");
@import url("./dama-dama.css");
@import url("./online-operation-info.css");
@import url("./reference-order.css");
@import url("./online-operations-credit.css");
@import url("./all-operations-card.css");
@import url("./deposit-based-mortgage.css");
@import url("./all-credit-cards.css");
@import url("./digideposit-l.css");
@import url("./faydaMax.css");
@import url("./domestic-international-transfer.css");
