@import url("./main-1.css");
@import url("./font.css");
@import url("./reset.css");
@import url("./variables.css");
@import url("./all-deposits.css");
@import url("./cashback.css");
@import url("./useful-links.css");
@import url("./useful-cashback.css");