@import url("./main-1.css");
@import url("./font.css");
@import url("./reset.css");
@import url("./variables.css");
@import url("./all-loans.css");
@import url("./ipoteka.css");
@import url("./responsive-1.css");
@import url("./responsive-2.css");
@import url("./responsive-3.css");
@import url("./cards.css");