@import url("./main-1.css");
@import url("./font.css");
@import url("./reset.css");
@import url("./variables.css");
@import url("./all-deposits.css");
@import url("./cashback.css");
@import url("./useful-links.css");
@import url("./useful-cashback.css");
@import url("./all-loans.css");
@import url("./ipoteka.css");
@import url("./responsive-1.css");
@import url("./responsive-2.css");
@import url("./responsive-3.css");
@import url("./cards.css");
@import url("./corporate.css");
@import url("./small-medium-business.css");
@import url("./micro-business.css");
@import url("./doc-resource.css");
@import url("./corporate-pres.css");