#investment-information {
    background-color: #f0f0f0;
    padding: 50px 0;
}

.investment-information-text {
    display: flex;
    flex-direction: column;
    gap: 46px;
    max-width: 474px;
}

.investment-information-text h3 {
    display: flex;
    gap: 8px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 500;
    color: var(--grey-font-color);
}

.investment-information-text h1 {
    font-size: 40px;
    line-height: 72px;
    letter-spacing: .025em;
    font-weight: 500;
    margin-bottom: 16px;
}

.investment-information-text p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
    color: #484a4f;
}

.black {
    color: black;
}

.information-img {
    display: flex;
    flex-direction: column;
    position: relative;
}

.img img {
    max-height: 356px;
    margin-bottom: 85px;
    width: 100%;
    object-fit: contain;
}

#investment-section-2{
    background-color: #f0f0f0;
}

.bg_light_section{
    background-color: white ;
    padding: 50px 0;
    border: 1px solid white;
    border-top-left-radius: 54px;
    border-top-right-radius: 54px;
}

.investment-section-2-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 100px;
    margin-bottom: 100px;
}

.investment-section-2-text p {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0;
    color: #484a4f;
}

.investment-section-2-text h4 {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0;
    color: black;
    font-weight: 600;
}

.investment-section-2-h1 {
    text-align: center;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: .025em;
    font-weight: 500;
    color: black;
    margin-bottom: 50px;
}

.investment-navs-tabs {
    margin: 0 100px;
}

.investment-navs-tabs .tab-content .tab-pane p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 400;
    color: #0a0b0d;
    margin-bottom: 20px;
    margin-top: 30px;
}

.investment-navs-tabs .tab-content .tab-pane p span {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 600;
}

.investment-table table {
    background-color: white;
    border-radius: 24px;
    border: 5px solid #f0f0f0;
    width: 70%;
}

.investment-table table th,td {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 400;
    color: #0a0b0d;
    border: 1px solid #f0f0f0;
    margin: 5px 0;
}

.investment-section-2-ul {
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.investment-section-2-ul-1 {
    padding: 40px 48px;
    border-radius: 32px;
    background-color: #0A0B0D0A;
}

.investment-section-2-ul-2 {
    padding: 40px 48px;
    border-radius: 32px;
    background-color: #1B63ED1F;
}

.investment-section-2-ul .p-logo-invest {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: black;
    font-weight: 600;
    margin-bottom: 10px;
}

.investment-section-2-ul p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 400;
    margin-bottom: 10px;
}


.investment-navs-tabs .investment-vert-tabs .invest {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 16px;
}

.investment-navs-tabs .investment-vert-tabs .invest button {
    background-color: #f0f0f0;
}

.investment-navs-tabs .investment-vert-tabs .invest button:hover{
    background-color: #d9d9d9;
}

.investment-navs-tabs .investment-vert-tabs .invest button p {
    color: black;
    font-weight: 500;
}

.investment-navs-tabs .investment-vert-tabs .invest button p:focus{
    color: #1b63ed;
    border-left: 3px solid #1b63ed;
}

.investment-table table {
    outline: 5px;
    border-radius: 16px;
    border-bottom: #f0f0f0;

}

.investment-logo-h1-12 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: .025em;
    font-weight: 500;
    color: black;
}