*:not(i){
   font-family: "Inter", sans-serif !important;
}
.ipoteka-section1{
   background-color:rgb(240 240 240);
   padding-bottom: 60px;
}
.individual-ipoteka{
     display: block;
   padding-bottom: 40px;
   margin-top: 20px;
   font-size: var(--font-size-small)
}
.individual-ipoteka-item{
     color: #7A7D82;
}
.individual-ipoteka-item:hover{
    color: #7A7D82;
}
.all-loans-ipoteka{
     color: #7A7D82;
}
.all-loans-ipoteka:hover{
    color: #7A7D82;
}
.header-ipoteka{
    color: black;
}
.ipoteka-header-parg1{
    font-size: 60px;
    line-height: 1.2;
   font-weight: 500;
}
.ipoteka-parg2{
   font-size: 20px;
   margin-top: 15px;
   line-height: 1.3;
}
.ipoteka-header-button{
     margin-top: 20px;
    background-color:var( --main-blue);
    color: var( --context-white-color);
    border-radius:13px ;
    border: 1px solid black;
    display: block;
    width: 250px;
    height: 55px;
    border: none;
   text-align: center;
   padding-top: 20px;
  
}
.ipoteka-header-button:hover{
    color: white;
    background-color: #004B98;
}
.ipoteka-header-img{
     width: 570px; 
    display: block;
    margin-top: 90px;
}
.ipoteka-header-table{
    display:flex;
    justify-content:space-around ;
    align-items: center;
    border:1px solid;
    height: 100px;
    max-width: 1230px;
    gap: 20px;
    line-height: 1.6;
    background-color: white;
    border: none;
    border-radius: 20px;
}
.ipoteka-header-table-head{
      font-weight: 700;
    font-size: 20px;
}
.ipoteka-header-table-body{
    font-size: var(--font-size-thin);
    line-height: 20px;
    font-weight: 400;
    margin-left: 25px;
}
.ipoteka-header-table-icon{
  color:var(--main-blue) ;
  font-size: 16px;
}
.ipoteka-header-table-line{
    border-left: 1px solid rgb(225, 223, 227);
    padding-left: 30px;
}
.ipoteka-line{
    padding-right: 80px;
}

.ipoteka-header-parg3{
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    margin-top: 90px;
}
.ipoteka-header-card{
    height: 420px ;
    width: 390px;
   border-radius: 40px; 
   margin-top: 50px;

}
.ipoteka-header-card-title{
    font-size: 24px;
    line-height: 32px; 
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
}
.ipoteka-header-card-text{
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}

.ipoteka-section2-calculator-text{
    font-size: 48px;
    text-align: center;
    font-weight: 500;
    line-height: 56px;
    padding-top: 50px;
}
.ipoteka-section2-product-text{
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    margin-bottom:40px;
    margin-top: 40px;
}
.ipoteka-section2-card{
    height: 400px;
    background-color:rgb(240 240 240);
    border-radius: 30px;
    border: none;
}
.ipoteka-section2-card-title{
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}
.ipoteka-section2-card-text{
     font-size: 15px;
    line-height: 20px;
    text-align: center;
}
.ipoteka-section2-card-img{
    width: 270px;
    padding-left: 30px;
}
.ipoteka-section2-button{
     display: block;
    background-color:var( --main-blue);
    color: var( --context-white-color);
    border-radius:13px ;
    border: 1px solid black;
    display: block;
    width: 250px;
    height: 55px;
    border: none;
   text-align: center;
   padding-top: 20px;
   margin: auto;
   margin-top: 40px;
   margin-bottom: 80px;
}
.ipoteka-section2-button:hover{
    color: white;
    background-color: #004B98;
}
.section2-right-icon{
    font-size: 13px;
}
.ipoteka-section3{
  background:radial-gradient(45.81% 111.02% at 57.47% 14.48%, #383C46 0, #24282F 100%);
  padding-bottom: 90px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}
.ipoteka-section3-parg1{
    font-size: 50px;
    line-height: 1.2;
   font-weight: 500;
   text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  color: white;
}
.ipoteka-section3-card{
    height: 250px;
   background-color:#0A0B0D29;
  border-radius: 20px;
}
.ipoteka-section3-card-title{
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}
.ipoteka-section3-card-text{
    color: #FFFFFFB8;
    margin-top: 30px;
    font-size: 16px;
    line-height: 20px;
}
.ipoteka-section3-card-link{
    color: white;
    text-decoration: underline;
   text-decoration-thickness:1px ;
}
.ipoteka-section3-card-link:hover{
    color: white;
}
.ipoteka-section3-card-icon{
    color: white;
    font-size: 30px;
    padding-top: 20px;
}
.ipoteka-section3-card-number{
    color: #FFFFFFB8;
    border: 1px solid black;
    padding: 8px 10px;
    border-radius: 12px;
    font-size:22px;
    background-color:#0a0b0d29;
    margin-top: 10px;
    border: none;
}
.ipoteka-section3-card-icon-number{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.ipoteka-section4-general{
background:radial-gradient(45.81% 111.02% at 57.47% 14.48%, #383C46 0, #24282F 100%);
}
.ipoteka-section4{
    background-color:rgb(240 240 240);
    padding-top: 40px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;

}
.ipoteka-section4-parg{
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    margin-top: 60px;
    padding-top: 0
    padding-bottom: 30px;
}
.ipoteka-section4-img-item{
    width: 300px;
    padding-top: 20px;
    border: 1px solid white;
    background-color: white;
    border-radius: 30px;
    margin-top: 20px;
}
.ipoteka-section4-button{
     margin-top: 30px;
    background-color:var( --main-blue);
    color: var( --context-white-color);
    border-radius:13px ;
    border: 1px solid black;
    display: block;
    width: 250px;
    height: 55px;
    border: none;
   text-align: center;
   padding-top: 20px;
   margin: auto;
   margin-top:40px ;
   margin-bottom: 90px;

   
}
.ipoteka-section4-button:hover{
    color: white;
    background-color: #004B98;
}
.ipoteka-section2-calculator-text{
    margin-bottom: 50px;
}







