.mb-btn-width a {
    width: 150px;
}

.purple-gradient-mb-box {
    background-image: radial-gradient(77.43% 409.98% at 85.14% 7.65%, #2B76ED 0, #761BED 100%);
}

#micro-business-cards {
    background-color: rgb(126 72 250);
}
.abb-man-details-flex{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: left;
}
.micro-p-fs{
    color: var(--medium-grey);
    font-size: 14px;
    /* padding: 5px 0; */
}
.abb-man-details-flex h3{
    font-size: 48px;
    line-height: 56px;
}
#abb-mbusiness-staff{
    padding: 60px 0;
}
.mbusiness-man-img img{
    width: 100%;
    height: auto;
    max-width: 500px;
    max-height: 320px;
    object-fit: cover;
}
#gradient-abb-biz{
    background-image: radial-gradient(77.43% 409.98% at 85.14% 7.65%,#2B76ED 0,#761BED 100%);
}
div.purple-radius-area{
    background-color:rgb(126 72 250);
}