#purchase-information {
    background-color: #f0f0f0;
    padding: 50px 0;
}

.purchase-information-text {
    display: flex;
    flex-direction: column;
    gap: 46px;
    max-width: 474px;
    padding-bottom: 64px;
}

.purchase-information-text h3 {
    display: flex;
    gap: 8px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 500;
    color: var(--grey-font-color);
}

.purchase-information-text h1 {
    font-size: 40px;
    line-height: 72px;
    letter-spacing: .025em;
    font-weight: 500;
    margin-bottom: 16px;
}

.purchase-information-text p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
    color: #484a4f;
}

.black {
    color: black;
}

#purchase-section-2{
    background-color: #f0f0f0;
}

.bg_light_purchase_section {
    background-color: white ;
    padding: 50px 0;
    border: 1px solid white;
    border-top-left-radius: 54px;
    border-top-right-radius: 54px;
}


/* left navs tabs */
.purchase-navs-tabs .d-flex .nav .nav-link {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 500;
    color: black;
    text-align: left;
}

.purchase-navs-tabs .d-flex .nav .nav-link span {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 400;
    color: #484a4f;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #f0f0f0;
}

.purchase-navs-tabs .d-flex .nav .nav-link:focus {
    color: #1b63ed;
    border-left: 3px solid #1b63ed;
    border-radius: 0px;
    background-color: #f0f0f0;
}

.purchase-navs-tabs .d-flex .nav {
    padding: 16px;
    border-radius: 24px;
    background-color: #f0f0f0;
}

/* left navs tabs end */

/* right navs tabs */

/* 1 tab */

.tab-pane h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: .025em;
    font-weight: 500;
    color: black;
}

.horizontal-nav-tabs-purchase .nav .nav-item .nav-link {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
    font-weight: 500;
    color: #484a4f;
}



.horizontal-nav-tabs-purchase .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: white ;
}

.horizontal-nav-tabs-purchase .nav .nav-item .nav-link:focus {
    color: white;
    border-radius: 12px;
    background-color: black;
    border-left: 0px
}

.purchase-navs-tabs .horizontal-nav-tabs-purchase .nav {
    background-color: white;
}

.tab-content input {
    border: 1px solid #e2e2e2;
    padding: 8px;
    border-radius: 10px;
    width: 400px;
}

.form-button a {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
    color: black;
    padding: 8px;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    
}

.form-button {
    display: flex;
    gap: 20px;
    align-items: center;
}

.form-button a svg {
    color: #b3b1b1;
}

.purchase_cards .card-body h4 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 400;
    color: black;
}

.purchase_cards .card-body p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.purchase_cards .card-body button {
    padding: 13px 13px;
    border-radius: 50%;
    background-color: #d8d6d6;
}

.purchase_cards .card-body button:hover {
    background-color: #bab9b9;
}

.purchase_cards .card-body div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.purchase_cards .card {
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    width: 72%;
    border-radius: 20px;
}

.purchase_cards .card-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.purchase_cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.purchase-pagination {
    margin: 50px 0;
}

.purchase-pagination li a {
    background-color: white;
    border: 1px solid white;
    color: black;
    margin-left: 50px;
}

.purchase-pagination li a:hover {
    background-color: white;
    border: 1px solid white;
    color: black;
}

.purchase-pagination li a:focus {
    background-color: black;
    color: white;
    box-shadow: 0 0 0 white;
    border-radius: 12px;
}

.form-button2 {
    margin-top: 30px;
}

.horizontal-nav-tabs-purchase2 .nav-pills {
    background-color: white;
}

.horizontal-nav-tabs-purchase2 .nav-pills .nav-item:focus {
    background-color: #f0f0f0;
    border: 1px solid black;
}

.purchase_card1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.purchase_card1 h3 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 400;
    color: black;
}

.purchase_card1 h4 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 400;
    color: #484a4f;
}











