
*{
    font-family: "Inter",sans-serif;
}

.reference-order-button{
    width: 130px;
    height: 50px;
    padding-top: 15px;
}
.reference-order-table-text{
    display: flex;
    border: 1px solid #0a0b0d0a;
    gap:15px ;
    height:70px ;
    align-items: center;
    padding: 0 10px;
    background-color: #0a0b0d0a;
    border-radius: 20px;
} 
.reference-order-table-text-icon{
   color: rgb(0 158 198 );
}
.reference-order-line{
    margin-top: 40px;
    margin-bottom: 50px;


}
.info-center-list-box{
    margin-top: 20px;
}


