
/*! 1.micro business page */
/* !2.Insurance*/

@media(max-width:1200px){
    .business-cards-left-text h2{
        font-size: 64px;
    }
     .carousel-first-img{
        display: flex;
        align-items: flex-end;
    }
    
}
@media(max-width:991px){
    .business-cards-left-text h2{
        font-size: 48px;
    }
     .carousel-first-img{
        display: flex;
        align-items: flex-end;
    }

}
@media(max-width:767px){
      .all-loan-section3-phone-img img{
        display: none;
    }
    .business-cards-left-text h2{
        font-size: 36px !important;
    }
    .abb-news-col-box img{
        width: 100%;
        height: auto;
    }
     .carousel-first-img{
        display: flex;
        align-items: flex-end;
    }
     .business-white-cards-btn{
        display: block;
        width: 100%;
    }
    #digital-services h2{
        font-size: 36px !important;
    }


}
@media(max-width:575px){
    .all-loan-section3-phone-img img{
        display: none;
    }
    .business-cards-left-text h2{
        font-size: 24px !important;
    }
    .mb-btn-width a{
        margin-bottom: 30px;
    }
    .carousel-first-img{
        display: flex;
        align-items: flex-end;
    }
    #digital-services h2{
        font-size: 24px;
    }

}


/*  */
@media(max-width:1200px){

}
@media(max-width:991px){
    .abb-business-details h3{
        font-size: 32px;
        text-align: center;
    }
    .abb-business-details p{
        text-align: center;
        /* font-size: 28px; */
    }
    .qr-code-width img,.qr-code-and-text p{
        display: none;
    }
    .img-container img{
        margin: 30px auto;
    }
    .qr-code-and-text{
        margin: auto;
        order: -2;
    }
    .download-app-btn{
        display: flex;
        margin: auto;
    }
    .download-app-btn a{
        color: black;
        text-decoration: none;
        text-align: center;
    }

}
@media(max-width:767px){

}
@media(max-width:575px){

}
