.cooperation-section-2-text-p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 400;
    color: #484a4f;
    text-align: center;
    margin-bottom: 50px;
}

.cooperation-cards-img div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cooperation-cards-img img {
    object-fit: contain;
    border-radius: 99999px;
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
}

.cooperation-cards-img p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 500;
    color: #484a4f;
}

.cooperation-cards-text .cooperation-table th {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0;
    font-weight: 400;
    color: #7a7d82;
    background-color: #f0f0f0;
    text-align: left;
}

.cooperation-cards-text .cooperation-table td {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 500;
    color: black;
    background-color: #f0f0f0;
    text-align: justify;
}

.cooperation-cards-text .cooperation-table table {
    border-radius: 12px;
    background-color: #fcfbfb;
    width: 100%;
    border: 5px solid #f0f0f0;
    outline: 10px;
}